<style>
  footer {
    background-color: hsl(243, 87%, 12%);
  }
</style>
<footer
  class="text-white py-20 px-14 flex flex-col gap-10 text-lg sm:grid grid-cols-4"
>
  <div class="flex flex-col gap-4">
    <img src="logo2.svg" alt="logo" class="w-60" />

    <p class="flex gap-4 items-center">
      <img src="icon-phone.svg" alt="phone" /><a href="#"
        >Phone: +1-543-123-4567</a
      >
    </p>
    <p class="flex gap-4 items-center">
      <img src="icon-email.svg" alt=" phone" /><a href="#"
        >Phone: +1-543-123-4567</a
      >
    </p>
  </div>

  <div>
    <ul class="flex flex-col gap-3 text-xl">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>

  <div>
    <ul class="flex flex-col gap-3 text-xl">
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </div>

  <div class="socials flex gap-4 items-center justify-center">
    <div class="border rounded-full px-1.5 flex items-center">
      <a href=" #"><i class="bi bi-facebook"></i></a>
    </div>
    <div class="border rounded-full px-1.5 flex items-center">
      <a href=" #"><i class="bi bi-twitter"></i></a>
    </div>
    <div class="border rounded-full px-1.5 flex items-center">
      <a href=" #"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
</footer>
