<header class="flex justify-between p-6">
  <div>
    <img src="./public/logo.svg" alt="logo" width="100px" />
  </div>
  <ul class="flex items-center gap-3">
    <li><a class="font-medium" href="#">Features</a></li>
    <li><a class="font-medium" href="#">Team</a></li>
    <li><a class="font-medium" href="#">Sign in</a></li>
  </ul>
</header>
